<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.lulee007.myEcho" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>myEcho</name><js-module name="myEcho" src="www/myEcho.js"><clobbers target="cordova.plugins.myEcho" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="myEcho"><param name="android-package" value="com.lulee007.myEcho.myEcho" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/myEcho.java" target-dir="src/com/lulee007/myEcho/myEcho" /></platform></plugin>